@model HBKPlatform.Models.View.MyND.RoomReservation.TimeslotSelect;
@{
    ViewBag.Title = "Reservation wizard: Select a timeslot";
    Layout = "_MyND";
    ViewBag.CurrentNav = "Reservation|RoomReservation";
}
@await Html.PartialAsync("_RoomReservationsPartial")

<h1>Timeslot select.</h1>
<p>Choose the timeslot for when you wish to reserve @Model.RoomTitle.</p>

<h2>Select a timeslot</h2>
@foreach (var timeslot in Model.AvailableTimeslots)
{
    <p>@timeslot.Description <a asp-area="MyND" asp-controller="RoomReservation" asp-action="ConfirmReservation" asp-route-roomId="@Model.RoomId" asp-route-weekNum="@timeslot.WeekNum" asp-route-timeslotId="@timeslot.TimeslotIdx">book</a></p>
}

<p>NB: This is an alpha-quality view. New UI will have better searching and filtering using a calendar-like view.</p>