@{
    Layout = "_Layout";
    ViewBag.Css = "mcp.css";
}
@functions
{
    private string GetActiveClass(string navPath){
        if (ViewBag.CurrentNav == null) return "";
        return ViewBag.CurrentNav.Contains(navPath) ? "active" : "";
    }
}
<div id="myNdNav" class="subNav">
    <a asp-area="MCP" asp-controller="MCP" asp-action="Index" class="@GetActiveClass("Index")" >Index</a>
    <a asp-area="MCP" asp-controller="PracticeManagement" asp-action="Index" class="@GetActiveClass("PracticeManagement")">Practice Management</a>
    <a asp-area="MCP" asp-controller="Auditing" asp-action="Index" class="@GetActiveClass("Auditing")">Auditing</a>
    <a asp-area="MCP" class="@GetActiveClass("Configuration")">Configuration (WIP)</a>
    <a asp-area="MCP" asp-controller="MCP" asp-action="Status" class="@GetActiveClass("SystemStatus")">System Status</a>
</div>
@RenderBody()