@using HBKPlatform.Globals
@model HBKPlatform.Models.DTO.ClinicDto;
@{
    ViewData["Title"] = "MCP Clinic Details";
    ViewBag.CurrentNav = "ClinicManagement";
    ViewBag.Css = "admin-clinicmgmt.css";
    Layout = "_McpShared";
}
<h1>View or modify clinic</h1>
<form id="treatmentDetails" asp-area="MCP" asp-controller="ClinicManagement" asp-action="DoUpdateClinic" asp-route-clinicId="@Model.Id" method="post"> 
    <fieldset>
        <label for="orgName" class="form-textfield">Organisation Name</label>
        <input type="text" id="orgName" asp-for="OrgName" value="@Model.OrgName" placeholder="Sample Clinic" >
    </fieldset>

    <fieldset>
        <label for="orgTagline" class="form-textfield">Organisation Tagline</label>
        <input type="text" id="orgTagline" asp-for="OrgTagline" value="@Model.OrgTagline" placeholder="Sample Slogan" >
    </fieldset>

    <fieldset>
        <label for="licence" class="form-textfield">Licence Status</label>
        <select id="licence" asp-for="LicenceStatus" 
                asp-items="Html.GetEnumSelectList<Enums.LicenceStatus>()">
        </select> 
    </fieldset>
    
    <fieldset>
        <label for="orgEmail" class="form-textfield">Organisation Email</label>
        <input type="text" id="orgEmail" asp-for="Email" value="@Model.Email" placeholder="billg@microsoft.com" >
    </fieldset>

    <fieldset>
        <label for="telephone" class="form-textfield">Telephone</label>
        <input type="text" name="telephone" id="telephone" value="@Model.Telephone"/>
    </fieldset>
  
    <fieldset>
      <label for="address" class="form-textfield">Address</label>
      <textarea name="streetAddress" id="address">
@Model.StreetAddress
      </textarea> 
    </fieldset>

    <fieldset>
        <label for="regDate" class="form-textfield">Registration Date</label>
        <input type="text" asp-for="RegistrationDate" name="" id="regDate" value="@(Model.RegistrationDate.ToString("yyyy-MM-dd"))" disabled="disabled" />
    </fieldset>
  
    <fieldset>
        <input type="submit" id="btnSave" value="Save" data-id="@Model.Id"/>
    </fieldset>
</form>

<h2>Lead Practitioner</h2>
<p>@Model.LeadPrac.Name</p>

<h2>Options</h2>
<ol>
    <li><a>Send password reset to lead practitioner @Model.LeadPrac.Name</a></li>
    <li><a>Delete clinic</a></li>
    <li><a asp-area="MCP" asp-controller="ClinicManagement" asp-action="ListClinics">Return to clinic list.</a></li>
</ol>
