@using HBKPlatform.Globals
@model HBKPlatform.Models.DTO.ClinicDetailsDto;
@{
    ViewData["Title"] = "MCP Clinic Details";
    ViewBag.CurrentNav = "ClinicManagement";
    ViewBag.Css = "admin-practicemgmt.css";
    Layout = "_McpShared";
}
<h1>View or modify clinic</h1>
<div id="uacWrapper">
<form id="treatmentDetails" asp-area="MCP" asp-controller="ClinicManagement" asp-action="DoUpdateClinic" asp-route-clinicId="@Model.Id" method="post"> 
    <fieldset>
        <legend for="orgName" class="form-textfield">Organisation Name</legend>
        <input type="text" id="orgName" asp-for="OrgName" value="@Model.OrgName" placeholder="" >
    </fieldset>

    <fieldset>
        <legend for="licence" class="form-textfield">Licence Status</legend>
        <select id="licence" asp-for="LicenceStatus" 
                asp-items="Html.GetEnumSelectList<Enums.LicenceStatus>()">
        </select> 
    </fieldset>
    
    <fieldset>
        <legend for="orgEmail" class="form-textfield">Organisation Email</legend>
        <input type="text" id="orgEmail" asp-for="OrgEmail" value="@Model.OrgEmail" placeholder="billg@microsoft.com" >
    </fieldset>

    <fieldset>
        <legend for="telephone" class="form-textfield">Telephone</legend>
        <input type="text" name="telephone" id="telephone" value="@Model.Telephone"/>
    </fieldset>
  
    <fieldset>
      <legend for="address" class="form-textfield">Address</legend>
      <textarea name="streetAddress" id="address">
@Model.StreetAddress
      </textarea> 
    </fieldset>

    <fieldset>
        <legend for="regDate" class="form-textfield">Registration Date</legend>
        <input type="text" asp-for="RegistrationDate" name="" id="regDate" value="@(Model.RegistrationDate.ToString("yyyy-MM-dd"))" disabled="disabled" />
    </fieldset>
    
    <fieldset>
        <legend class="form-textfield">Lead Manager</legend>
        <p>@Model.LeadManagerFullName</p>
    </fieldset>
    
    <fieldset>
        <legend for="orgEmail" class="form-textfield">Lead Manager Email</legend>
        <input type="text" id="orgEmail" asp-for="LeadManagerEmail" value="@Model.LeadManagerEmail" placeholder="NONE" disabled="disabled">
    </fieldset>
    
    <fieldset>
        <input type="submit" id="btnSave" value="Save" data-id="@Model.Id"/>
    </fieldset>
</form>
</div>

<h2>Options</h2>
<ol>
    <li><a>Send password reset to lead practitioner @Model.LeadManagerFullName</a></li>
    <li><a>Delete clinic</a></li>
    <li><a asp-area="MCP" asp-controller="ClinicManagement" asp-action="ListClinics">Return to clinic list.</a></li>
</ol>
