@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NowDoctor @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/mci-fonts.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.structure.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/jquery-ui.theme.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/inhouse.css" asp-append-version="true" />
    @if (ViewData["css"] != null)
        {
            // TODO: Work with many scripts....
        <link rel="stylesheet" href="@Url.Content("~/css/" + ViewData["css"])" asp-append-version="true" />
    }
</head>
<body>
    <header>
        <nav id="mciNavBar" class="">
            <div class="hbk-navbar-left">
                <a class="navbar-light" id="mciName" asp-area="" asp-controller="Home" asp-action="Index">NowDoctor</a>
            </div>
			<div class="hbk-navbar-right">
                <ul class="hbk-navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="navbar-light" asp-area="Account" asp-page="/Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="navbar-light" asp-area="Account"  asp-page="/Login">Login</a>
                            </li>
                        }
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item">
                                <a class="navbar-light" asp-area="MasterControlPanel" asp-controller="MCP" asp-action="Index">Admin</a>
                            </li>
                        }
                        @if (User.IsInRole("Practitioner"))
                        {
                            <li class="nav-item">
                                <a class="navbar-light" asp-area="MyND" asp-controller="Reception" asp-action="Index">MyND</a>
                            </li>
                        }
                        @if (User.IsInRole("Client"))
                        {
                            <li class="nav-item">
                                <a class="navbar-light" asp-area="Client" asp-controller="Reception" asp-action="Index">Clinic Reception</a>
                            </li>
                        }
                </ul>
			</div>
        </nav>
    </header>
    <div id="mainPageBody" class="hbk-container">
         @RenderBody()
    </div>

    <footer class="">
        <div class="footer-item">
            &copy; 2024 - NowDoctor Ltd. HBK Platform "Rough Cut" 
        </div>
        <div class="footer-item">
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/contrib/underscore-umd.js" defer></script>
    <script src="~/js/contrib/jquery-ui.js"></script>
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true" defer></script>
    @if (ViewData["scripts"] != null)
        {
            // TODO: Work with many scripts....
        <script src ="@Url.Content("~/js/" + ViewData["scripts"])" asp-append-version="true" defer></script>
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

