@model HBKPlatform.Models.DTO.ClientRecordDto
@{
    ViewBag.Title = $"{Model.ClientName}'s Record, {Model.DateCreated}";
    ViewBag.Modules = "clientrecord.js";
    ViewBag.css = "clientrecord.css";
    Layout = "_MyND";
}

<h2>Client Record</h2>
<p>@Model.ClientName</p>
<div id="clientRecordWrap" class="clientRecordView">
    <div class="clientRecordItem">
        <input type="text" id="noteTitle" name="noteTitle" value="@Model.Title"/>
        <span>@Model.DateCreated</span>
        <span>@Model.Visibility</span>
        <span>@Model.IsPriority</span>
    </div>
    
    <form id="clientRecord" asp-area="MyND" asp-controller="Record" asp-action="SetRecordPriority" asp-route-recordId="@Model.Id" asp-route-isPriority=@(Model.IsPriority ? "false" : "true") method="post">
        <input type="submit" value="SetIsPriority" id="btnTogglePriority"/>
    </form>
    
    <textarea id="noteBody" name="noteBody">
    @Model.NoteBody
    </textarea>
    
    <input type="submit" value="Save" id="btnSave" data-id="@Model.Id" data-clientId="@Model.ClientId"/>
</div>

@if (Model.AppointmentId != null)
{
    <p>Appointment details</p>
    <p>@Model.AppointmentDetails</p>
    <p>View Appointment Details @Model.AppointmentId</p>
}