@model HBKPlatform.Models.DTO.ClientRecordDto
@{
    ViewBag.Title = $"{Model.ClientName}'s Record, {Model.DateCreated}";
    ViewBag.Modules = "clientrecord.js";
    ViewBag.css = "clientrecord.css";
    Layout = "_MyND";
}

<h2>Client Record</h2>
<p>@Model.ClientName</p>
<input type="text" id="noteTitle" name="noteTitle" value="@Model.Title"></input>

<!--
<form id="messageInput" asp-area="MyND" asp-controller="Record" asp-action="UpdateRecordBody" asp-route-recordId="@Model.Id" method="post">
-->
    <textarea id="noteBody" name="noteBody">
@Model.NoteBody
    </textarea>
    <input type="submit" value="Save" id="btnSave" data-id="@Model.Id" data-clientId="@Model.ClientId" />
<!--
</form>
-->

<p>@Model.Visibility</p>
<p>@Model.IsPriority</p>

<form id="clientRecord" asp-area="MyND" asp-controller="Record" asp-action="SetRecordPriority" asp-route-recordId="@Model.Id" asp-route-isPriority=@(Model.IsPriority ? "false" : "true") method="post">
    <input type="submit" value="SetIsPriority" id="btnTogglePriority" />
</form>

@if (Model.AppointmentId != null)
{
    <p>Appointment details</p>
    <p>@Model.AppointmentDetails</p>
    <p>View Appointment Details @Model.AppointmentId</p>
}