@model HBKPlatform.Models.View.Clinic.RoomReservationOverview
@{
    ViewBag.Title = "Clinic Reception";
    ViewBag.CurrentNav = "Reservations";
    Layout = "_Clinic";
}

<h2>Reservations.</h2>
<p>There are currently @Model.Requested.Count requested reservations to approve or deny.</p>

<h2>Awaiting approval</h2>
<div class="table1OuterWrap">
    <table class="table1">
        <thead class="table1Item"><tr class="table1Item"><td>Room Name</td> <td>When</td> <td>Actions</td></tr></thead>
        @foreach (var reservation in Model.Requested)
        {
            <tr class="table1Item"><td class="">@reservation.RoomTitle</td> <td>@reservation.When</td> <td><a asp-area="Clinic" asp-controller="Reservation" asp-action="ActionReservation" asp-route-reservationId="@reservation.Id" asp-route-action="approve">Approve</a> | <a asp-area="Clinic" asp-controller="Reservation" asp-action="ActionReservation" asp-route-reservationId="@reservation.Id" asp-route-action="deny">Deny</a></td> </tr>
        }
    </table>
</div>

<h2>Upcoming approved</h2>
<div class="table1OuterWrap">
    <table class="table1">
        <thead class="table1Item"><tr class="table1Item"><td>Room Name</td> <td>When</td> <td>Actions</td></tr></thead>
        @foreach (var reservation in Model.Approved)
        {
            <tr class="table1Item"><td class="">@reservation.RoomTitle</td> <td>@reservation.When</td> <td><a asp-area="Clinic" asp-controller="Reservation" asp-action="CancelReservation" asp-route-reservationId="@reservation.Id">Cancel</a></td> </tr>
        }
    </table>
</div>

<h2>Denied</h2>
<div class="table1OuterWrap">
    <table class="table1">
        <thead class="table1Item"><tr class="table1Item"><td>Room Name</td> <td>When</td> <td>Reason</td></tr></thead>
        @foreach (var reservation in Model.Denied)
        {
            <tr class="table1Item"><td class="">@reservation.RoomTitle</td> <td>@reservation.When</td> <td>???</td> </tr>
        }
    </table>
</div>
